/*================ LightGallery Plugin ================*/

%no-display {
    @include no-dsp;
}

%mq-no-display {
  @include mq(max,$med) {
    @include no-dsp;
  }
}

#lg {
  &-download { //download button
    @extend %no-display;
  }
  &-counter { //counter button
    @extend %no-display;
  }
}

.lg {
  &-object {
    &.lg-image { //main image
      max-width: 60%;
      @include mq(max,$med) {
        max-width: 95%;
      }
    }
  }
  &-actions {
    & .lg-prev { //left button
      @include mq(min,$lrg) {
        left: 80px;
      }
      @extend %mq-no-display;
    }
    & .lg-next { //right button
      @include mq(min,$lrg) {
        right: 80px;
      }
      @extend %mq-no-display;
    }
  }
  &-backdrop.in { //backdrop
    background: #15171a;
    opacity: .9;
  }
  &-toolbar {
    background: transparent;
  }
}

//captions
.lg-sub-html {
  max-width: 60%;
  margin: 0 auto;
  bottom: 50px;
  background : transparent;
  text-align: left;
  @include mq(max,$med) {
    max-width: 99%;
    background : rgba(0,0,0,.3);
    bottom: 100px;
  }
  & h3 {
    font-size: 1.1rem;
    display: inline;
    @include mq(max,$med) {
      font-size: .9rem;
    }
  }
  & p {
    font-size: 1rem;
    display: inline;
    @include mq(max,$med) {
      font-size: .9rem;
    }
  }
}
